body, html {
    height: 100%;
	margin : 0;
    background-color: #B6D8F2;
    color: #00353F;
	font-family: 'Montserrat', sans-serif; /*  'sans-serif' est une famille de police de repli */
}

body{
	display: flex; /* Utilisez flexbox pour la mise en page */
    flex-direction: column; /* Organisez le contenu verticalement */
    justify-content: space-between; /* Espacement entre le contenu et le footer */
	padding: 30px;
}

.content {
    flex: 1; /* Assurez-vous que le contenu prend tout l'espace disponible, repoussant le footer vers le bas */
}

.container{
	display : flex;
	padding: 50px; /* Ajoute un espace de 10px de chaque côté. Ajustez selon vos besoins. */
	margin-top : 20px;
	justify-content: space-between;
	background-color : #F7F6CF;
}

.pointer{
	cursor:pointer;
}

.left, .right {
    box-sizing: border-box;
	font-size: 24px;
}
/* Pas besoin des marges pour .left et .right car le padding du .container les écarte déjà du bord. */

.picture img{
	max-width: 12%;
    max-height: 12%;
    width: auto;
    height: auto;
}

.picture {
    display: flex;           /* Active Flexbox pour ce conteneur */
    align-items: center;     /* Centre verticalement */
	text-align: center;
	flex-direction: column;  /* Organise les enfants de .picture verticalement */
   
}

.picture p{
	 margin-bottom: 20px;     /* Ajoute un espace entre le texte et les images. Ajustez selon vos besoins */
	 margin: 10px 15px;          /* Ajoute un espace entre les images. Ajustez selon vos besoins. */
	 font-size: 40px; /* taille du texte */
	font-weight : bold;
}

.ok{
	background-color:#F4CFDF;
	margin-top: 3%;
}

.good{
	text-align:center;
	font-size : 40px;
	font-weight:bold;
}

.results-container {
    display: flex;
    justify-content: space-between; /* Espacement entre les résultats */
}

#resume{
	margin-top: 5%;
}
#text {
	/*display: none;*/
	font-weight: bold;
	color: red;
	flex-grow: 1; /* Permet à l'élément de croître pour remplir l'espace disponible */
    text-align: left; /* Aligner le texte à gauche */
    margin-right: 10px; /* Ajoute un peu d'espace entre les deux divs */
}
#text2 {
	display: block;
	font-weight: bold;
	color: red;
	flex-grow: 1; /* Permet à l'élément de croître pour remplir l'espace disponible */
    text-align: right; /* Aligner le texte à droite */
    margin-left: 10px; /* Ajoute un peu d'espace entre les deux divs */
}
#reset{
	margin-left: auto;
    margin-right: auto;
	display: block;
	margin-top: 2%;
}
#resultMessage{
	color: red;
}

#rule{
	margin-top: 5%;
}